  .whole {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cadefc;
    border-radius: 10px;
  }
  
  .add {
    background-color: #c3bef0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  input[type='text'] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    background-color: #cca8e9;
    color: black;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #dcd6f7;
  }
  
  .view {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #c3bef0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list button {
    background-color: #cca8e9;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .list button:hover {
    background-color: #dcd6f7;
  }
  